$colorFlatNeutralNeutralWhite: #ffffff;    
$colorFlatNeutralNeutral10: #fafafa;    
$colorFlatNeutralNeutral20: #f5f5f5;    
$colorFlatNeutralNeutral30: #f0f0f0;    
$colorFlatNeutralNeutral40: #e6e6e6;    
$colorFlatNeutralNeutral60: #c2c2c2;    
$colorFlatNeutralNeutral100: #919191;    
$colorFlatNeutralNeutral200: #858585;    
$colorFlatNeutralNeutral400: #696969;    
$colorFlatNeutralNeutral500: #5c5c5c;    
$colorFlatNeutralNeutral800: #2e2e2e;    
$colorFlatPrimaryPrimary10: #fef7f2;    
$colorFlatPrimaryPrimary30: #feefe4;    
$colorFlatPrimaryPrimary40: #fde4d3;    
$colorFlatPrimaryPrimary60: #fcd1b3;    
$colorFlatPrimaryPrimary100: #faab76;    
$colorFlatPrimaryPrimary400: #f66a0a;    
$colorFlatPrimaryPrimary500: #cf5908;    
$colorFlatSemanticDanger10: #fcf0f1;    
$colorFlatSemanticDanger30: #f9e3e5;    
$colorFlatSemanticDanger40: #f6d0d4;    
$colorFlatSemanticDanger60: #f0b4ba;    
$colorFlatSemanticDanger100: #e6858e;    
$colorFlatSemanticDanger400: #d73a49;    
$colorFlatSemanticDanger500: #a82d39;    
$colorFlatSemanticWarning10: #fffcf0;    
$colorFlatSemanticWarning30: #fff9e2;    
$colorFlatSemanticWarning40: #fff5d1;    
$colorFlatSemanticWarning60: #ffefb9;    
$colorFlatSemanticWarning100: #ffe691;    
$colorFlatSemanticWarning400: #ffd33d;    
$colorFlatSemanticWarning500: #d1ad32;    
$colorFlatSemanticSuccess10: #f0faf2;    
$colorFlatSemanticSuccess30: #e3f5e7;    
$colorFlatSemanticSuccess40: #d1efd8;    
$colorFlatSemanticSuccess60: #ade2b9;    
$colorFlatSemanticSuccess100: #7ad08e;    
$colorFlatSemanticSuccess400: #00a526;    
$colorFlatSemanticSuccess500: #03701c;    
$colorFlatSemanticInfo10: #f4f0fa;    
$colorFlatSemanticInfo30: #eae3f6;    
$colorFlatSemanticInfo40: #dfd6f1;    
$colorFlatSemanticInfo60: #d0c1eb;    
$colorFlatSemanticInfo100: #b49cde;    
$colorFlatSemanticInfo400: #6f42c1;    
$colorFlatSemanticInfo500: #4b2d83;    
$colorTransparentNeutralNeutral10: #00000005;    
$colorTransparentNeutralNeutral20: #0000000a;    
$colorTransparentNeutralNeutral30: #0000000f;    
$colorTransparentNeutralNeutral40: #0000001a;    
$colorTransparentNeutralNeutral60: #0000003d;    
$colorTransparentNeutralNeutral100: #0000006e;    
$colorTransparentNeutralNeutral200: #0000007a;    
$colorTransparentNeutralNeutral400: #00000096;    
$colorTransparentNeutralNeutral500: #000000a3;    
$colorTransparentNeutralNeutral800: #000000d1;    
$colorTransparentPrimaryPrimary10: #f66a0a0d;    
$colorTransparentPrimaryPrimary30: #f66a0a1c;    
$colorTransparentPrimaryPrimary40: #f66a0a2e;    
$colorTransparentPrimaryPrimary60: #f66a0a4f;    
$colorTransparentPrimaryPrimary100: #f66a0a8f;    
$colorTransparentSemanticDanger10: #d73a4914;    
$colorTransparentSemanticDanger30: #d73a4924;    
$colorTransparentSemanticDanger40: #d73a493d;    
$colorTransparentSemanticDanger60: #d73a4961;    
$colorTransparentSemanticDanger100: #d73a499e;    
$colorTransparentSemanticWarning10: #ffd33d14;    
$colorTransparentSemanticWarning30: #ffd33d26;    
$colorTransparentSemanticWarning40: #ffd33d3d;    
$colorTransparentSemanticWarning60: #ffd33d54;    
$colorTransparentSemanticWarning100: #ffd33d91;    
$colorTransparentSemanticSuccess10: #00a5260f;    
$colorTransparentSemanticSuccess30: #00a5261c;    
$colorTransparentSemanticSuccess40: #00a5262e;    
$colorTransparentSemanticSuccess60: #00a52652;    
$colorTransparentSemanticSuccess100: #00a52685;    
$colorTransparentSemanticInfo10: #6f42c114;    
$colorTransparentSemanticInfo30: #6f42c126;    
$colorTransparentSemanticInfo40: #6f42c138;    
$colorTransparentSemanticInfo60: #6f42c154;    
$colorTransparentSemanticInfo100: #6f42c185;    
$colorFlatNeutralNeutralBlack: #000000;    
