    $shadowElevation2: 0px 1px  5px   0px    #00000033;    
    $shadowElevation22: 0px 3px  1px   -2px    #0000001f;    
    $shadowElevation23: 0px 2px  2px   0px    #00000024;    
    $shadowElevation8: 0px 5px  5px   -3px    #00000033;    
    $shadowElevation82: 0px 3px  14px   2px    #0000001f;    
    $shadowElevation83: 0px 8px  10px   1px    #00000024;    
    $shadowElevation16: 0px 8px  10px   -5px    #00000033;    
    $shadowElevation162: 0px 6px  30px   5px    #0000001f;    
    $shadowElevation163: 0px 16px  24px   2px    #00000024;    
    $shadowElevation4: 0px 2px  9px   0px    #00000033;    
    $shadowElevation42: 0px 4px  4px   -2px    #0000001f;    
    $shadowElevation43: 0px 4px  5px   0px    #00000024;    
