
.typographyDisplayL 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyDisplayM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyDisplayS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyHeadlineL 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyHeadlineM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyHeadlineS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTitleL 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTitleM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyTitleS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyOverline 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyBodyXs 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyLabelM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyLabelS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelXs 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLinkM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyLinkS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyUnderlineM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

.typographyUnderlineS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  -0.01em;
  text-indent: 0px;
  
}    

